a {
	color: #8798a7;
}
a:hover {
	text-decoration: none;
}

body {
	background-color: #efefef;
}

code, kbd, pre, samp {
  font-family: 'source code pro';
}

div.bq {
	margin: 20px 0px 19px 0px;
	text-align: center;
}

div.row .archives {
	line-height: .75em;
}

.green {
	color: #7f887f;
}

div.bq span {
	background-color: #a9b5a9;
	color: #eee;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	padding: 5px 10px 5px 10px;
}

.btn-tag {
	padding: 2px 6px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #8798a7;
	border-color: #8798a7;
	font-size: 8pt;
}

.btn-tag:hover {
	background-color: #6f7d8a;
	border-color: #6f7d8a;
}

.footer {
	margin-top: 50px;
	margin-bottom: 25px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

.navbar-default {
	background-color: #8798a7;
}

.navbar-default .dropdown-menu {
	background-color: #6f7d8a;
}

.navbar .dropdown-menu > li > a {
	background-color: #6f7d8a;
	border-radius: 0px;
	border: 0px;
}

.navbar .dropdown-menu > li > a:hover {
	background-color: #475059;
	border: 0px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #6f7d8a;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #6f7d8a;
}

div.post {
	padding: 30px 0px 30px 0px;
}

.post-content {
	margin: 15px 10px 25px 10px;
}

.post-content img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid #aaa;
}

.post-date {
	color: #aaaaaa;
}

.post-title {
	margin-top: -10px;
}

.post-matter {
	border-bottom: 1px solid #ddd;
}

.post-nav {
	margin-top: 40px;
}

.post-nav-divider-l {
	border-right: 1px dotted #ddd;
}

.post-nav-divider-r {
	border-left: 1px dotted #ddd;
}

.tags {
	margin-top: 10.5px;
}

.post-nav-label {
	margin-top: -10px;
	color: #ccc;
}

h4.taglist {
	margin-bottom: 5px;
}

div.taglist {
	padding-left: 10px;
}

div.link {
	padding: 30px 0px 30px 0px;
}

div.link > div.content > div.line {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

div.link > div.content > h3 {
	margin-top: -17px;
}

div.link > div.content > h3 a {
	background-color: #efefef;
	padding-right: 10px;
	padding-bottom: 4px;
	border-right: 1px solid #ddd;
	color: #87A794;
}

div.link > div.content > h3 a:hover {
	color: #444;
}

div.link > div.content > div.body {
	padding: 0px 10px 10px 10px;
	font-size: 90%;
}

div.link > div.content > div.title {
	color: #aaaaaa;
}	

div.link > div.content > div.date {
	margin-top: -2px;
	color: #ccc;
}

div.minipost {
	padding: 30px;
}

div.minipost > div.content {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	margin-bottom: 0px;

	font-size: 90%;
}

div.minipost > div.content > div.body {
	padding: 0px 10px 0px 10px;

	color: #777;
}

div.minipost > div.content > div.title,
div.minipost > div.content > div.date {
	color: #aaaaaa;
}	

div.minipost > div.content > div.title {
	margin-bottom: 10px;
	border-bottom: 1px solid #bbb;
}

div.minipost > div.content > div.date {
	margin-top: -5px;
}

.main {
	margin-top: 100px;
}

div.link-page h3 {
	margin: 0px;
}

div.link-page div.body {
	font-size: 90%;
}

div.link-page div.title {
	color: #aaa;
}

div.link-page div.date {
	color: #c1c1c1;
}

