a {
	color: #8798a7;
}
a:hover {
	text-decoration: none;
}

body {
	background-color: #efefef;
}

div.bq {
	margin: 20px 0px 19px 0px;
	text-align: center;
}

div.row .archives {
	line-height: .75em;
}

.green {
	color: #7f887f;
}

div.bq span {
	background-color: #a9b5a9;
	color: #eee;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	padding: 5px 10px 5px 10px;
}

.btn-tag {
	padding: 2px 6px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #8798a7;
	border-color: #8798a7;
	font-size: 8pt;
}

.btn-tag:hover {
	background-color: #6f7d8a;
	border-color: #6f7d8a;
}

.footer {
	margin-top: 50px;
	margin-bottom: 25px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

.navbar-default {
	background-color: #8798a7;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: #6f7d8a;
}

.post-content {
	margin: 15px 10px 25px 10px;
}

.post-content img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border: 1px solid #aaa;
}

.post-date {
	color: #aaaaaa;
}

.post-title {
	margin-top: -10px;
}

.post-matter {
	border-bottom: 1px solid #ddd;
}

.post-nav {
	margin-top: 40px;
}

.post-nav-divider-l {
	border-right: 1px dotted #ddd;
}

.post-nav-divider-r {
	border-left: 1px dotted #ddd;
}

.tags {
	margin-top: 10.5px;
}

.post-nav-label {
	margin-top: -10px;
	color: #ccc;
}

h4.taglist {
	margin-bottom: 5px;
}

div.taglist {
	padding-left: 10px;
}
