doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div(id='wrapper')
			include ./includes/nav-top.jade
			div.container(style='margin-top: 45px;')
				div.row
					div.col-md-2
					div.col-md-8
						div.page-header
							h1.text-center Archives
						each post in posts
							div.row.archives
								div.col-md-6.text-left
									a(href='/posts/' + post.path + post.filename + '.html')!= post.title
								div.col-md-6.text-right= post.displayDate
					div.col-md-2
		include ./includes/footer.jade
