doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div.container
			div.page-header
				div.row
					div.col-xs-12.text-center Archives
						each post in posts
							div.row
								div.col-lg-6.col-md-6.col-sm-6.text-left
									a(href='posts/' + post.path + post.filename + '.html') #{post.title} 
								div.col-lg-6.col-md-6.col-sm-6.text-right= post.displayDate
									
