doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div(id='wrapper')
			include ./includes/nav-top.jade
			div.container.archive-page
				div.row
					div.col-md-2
					div.col-md-8
						div.page-header
							h1.text-center= page.title
						each entry in page.entries.reverse ()
							div.row
								div.col-md-6.text-left
									a(href='/posts/' + entry.path + entry.filename + '.html')!= entry.title
								div.col-md-6.text-right= entry.displayDate
					div.col-md-2
			include ./includes/footer.jade
