doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div(id='wrapper')
			include ./includes/nav-top.jade
			div.container.minipost-page
				div.row
					div.col-md-2
					div.col-md-8
						each post in page.posts
							div.minipost
								div.well.content
									if post.title
										div.small.title= post.title
									div.body!= post.content
									div.small.text-right.date= post.displayDate
							div.row
								div.col-xs-12.text-center.small.divider . . 
									strong . 
									| . .
					div.col-md-2
			include ./includes/footer.jade
