doctype html
html(lang="en")
	include ./includes/head.jade
	body
		div(id='wrapper')
			include ./includes/nav-top.jade
			div.container(style='margin-top: 30px;')
				div.row
					div.col-md-2
					div.col-md-8
						div.page-header
							div.text-center Posts filed under
							h1(style='margin-top: 0px;').text-center!= page.title
						each post in page.posts.sort ()
							div.row
								div.col-md-12.text-center
									a(href='/posts/' + post.path + post.filename + '.html')!= post.displayTitle 
					div.col-md-2
		include ./includes/footer.jade
