nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			a(class='navbar-brand', href='/') BLOG
		div#navbar.navbar-collapse.collapse
			ul#menu.nav.navbar-nav.navbar-right
				li 
					a(href='/') Home
				li 
					a(href='/archives.html') Archives
				li
					a(href='/about.html') About
